<div id="root">
  <main>
    <div class="filters">
      <h4 class="title">Sizes:</h4>
      <div class="filters-available-size" *ngFor="let size of sizes">
        <label>
          <input type="checkbox" [value]="size.value" [checked]="size.checked" (click)="changeSize(size)">
          <span class="checkmark">{{size.value}}</span>
        </label>
      </div>
    </div>
    <div class="shelf-container">
      <div class="shelf-container-header">
        <small class="products-found" *ngIf="products?.length > 0">
          <span>{{products.length}} Product(s) found.</span>
        </small>
        <div class="sort">
          Order by
          <select (change)="onChangeSortValue($event.target.value)">
            <option value="">Select</option>
            <option value="lowestprice">Lowest to highest</option>
            <option value="highestprice">Highest to lowest</option>
          </select>
        </div>
      </div>
      <div class="shelf-item" *ngFor="let product of products">
        <app-product-detail [product]="product"></app-product-detail>
      </div>
    </div>
  </main>
  <div class="float-cart" [ngClass]="status ? 'float-cart--open' : ''">
    <span class="bag bag--float-cart-closed" (click)="clickEvent()" *ngIf="!status; else closeCart">
      <span class="bag__quantity">1</span>
    </span>
    <app-product-cart>
    </app-product-cart>
  </div>
  <ng-template #closeCart>
    <div class="float-cart__close-btn" (click)="clickEvent()">X</div>
  </ng-template>
</div>
