<div id="root">
  <main>
    <div class="filters">
      <h4 class="title">Sizes:</h4>
      <div class="filters-available-size">
        <label>
          <input type="checkbox" value="XS">
          <span class="checkmark">XS</span>
        </label>
      </div>
      <div class="filters-available-size">
        <label>
          <input type="checkbox" value="S">
          <span class="checkmark">S</span>
        </label>
      </div>
      <div class="filters-available-size">
        <label>
          <input type="checkbox" value="M">
          <span class="checkmark">M</span>
        </label>
      </div>
      <div class="filters-available-size">
        <label>
          <input type="checkbox" value="ML">
          <span class="checkmark">ML</span>
        </label>
      </div>
      <div class="filters-available-size">
        <label>
          <input type="checkbox" value="L">
          <span class="checkmark">L</span>
        </label>
      </div>
      <div class="filters-available-size">
        <label>
          <input type="checkbox" value="XL">
          <span class="checkmark">XL</span>
        </label>
      </div>
      <div class="filters-available-size">
        <label>
          <input type="checkbox" value="XXL">
          <span class="checkmark">XXL</span>
        </label>
      </div>
    </div>
    <div class="shelf-container">
      <div class="shelf-container-header">
        <small class="products-found" *ngIf="(products | async)?.length > 0">
          <span>{{(products | async)?.length}} Product(s) found.</span>
        </small>
        <div class="sort">
          Order by
          <select (change)="onChangeSortValue($event.target.value)">
            <option value="">Select</option>
            <option value="lowestprice">Lowest to highest</option>
            <option value="highestprice">Highest to lowest</option>
          </select>
        </div>
      </div>
      <div class="shelf-item" *ngFor="let product of products | async">
        <app-product-detail [product]="product"></app-product-detail>
      </div>
    </div>
  </main>
  <div class="float-cart" [ngClass]="status ? 'float-cart--open' : ''">
    <span class="bag bag--float-cart-closed" (click)="clickEvent()" *ngIf="!status; else closeCart">
      <span class="bag__quantity">1</span>
    </span>
    <app-product-cart>
    </app-product-cart>
  </div>
  <ng-template #closeCart>
    <div class="float-cart__close-btn" (click)="clickEvent()">X</div>
  </ng-template>
</div>
