<div class="float-cart__content">
  <div class="float-cart__header">
    <span class="bag">
      <span class="bag__quantity">{{calcTotal}}</span>
    </span>
    <span class="header-title">Cart</span>
  </div>
  <div class="float-cart__shelf-container">
    <div class="shelf-item" *ngFor="let product of products">
      <app-product-item-cart [product]="product" (productRemoved)="removeProduct($event)"></app-product-item-cart>
    </div>
  </div>
  <div class="float-cart__footer">
    <div class="sub">SUBTOTAL</div>
    <div class="sub-price">
      <p class="sub-price__val">$ {{totalPrice}}</p>
    </div>
    <div class="buy-btn" (click)="checkoutProduct($event)">Checkout</div>
  </div>
</div>
